include struct/header.pug
.container_about
	h1
		|Евгений Онегин
	.text
		p
			|Роман «Евгений Онегин» великий русский писатель писал около семи лет, называя это подвигом. Главным героем романа является Евгений Онегин, выросший в дворянской семье и ведущий довольно праздный образ жизни. После смерти дяди Онегин поселяется в деревне, где его одолевает скука. Вскоре он знакомится со своим молодым соседом-поэтом и у них завязывается крепкая дружба, несмотря на разницу в характерах. Далее перед нами будет разворачиваться драматическая история дружбы, безответной любви, погубленных молодых судеб…
		h3
			|Автор - Александр Сергеевич Пушкин
			
				
	.img_about
		img(src='img/book_2.jpg')

include struct/bottom.pug