include struct/header.pug
.container_about
	h1
		|Преступление и наказание
	.text
		p
			|Социально-психологический и социально-философский роман Фёдора Михайловича Достоевского, над которым писатель работал в 1865-1866 годах. Впервые опубликован в 1866 году в журнале «Русский вестник». Через год вышло в свет отдельное издание, структура которого была немного изменена по сравнению с журнальной редакцией; кроме того, автор внёс в книжный вариант ряд сокращений и стилистических правок.
		h3
			|Автор - Федор Михайлович Достоевский
				
	.img_about
		img(src='img/book_5.jpg')

include struct/bottom.pug