include struct/header.pug
.container_about
	h1
		|Герой нашего времени
	.text
		p
			|Это первый лирико-психологический роман в русской литературе, специфичностью которого является объединение нескольких жанров: путевой очерк, новелла, рассказ. В ней освещается история жизни молодого офицера Печорина, живущего на Кавказе. В главном герое вы увидите обычные людские пороки, которые ведут борьбу с твердым характером, добросердечностью и свободомыслием. Если кратко охарактеризовать главного героя, то это собирательный образ «лишнего человека». Роман состоит из пяти частей, хронологический порядок которых нарушен для акцентирования характера и моральных ценностей персонажей.
		h3
			|Автор - Михаил Юрьевич Лермонтов

	.img_about
		img(src='img/book_3.jpg')

include struct/bottom.pug