include struct/header.pug
.container_about
	h1
		|Мастер и Маргарита
	.text
		p
			|Главный герой этого культового романа – Мастер, который попал в психиатрическую больницу из-за травли и ареста после написания романа “Понтий Пилат”. Исчезновение Мастера весьма скорбно восприняла его жена Маргарита. Она готова пойти на любые жертвы ради того, чтобы узнать жив ли ее муж…и даже продать душу дьяволу…
		h3
			|Автор - Михаил Булгаков
			
				
	.img_about
		img(src='img/book_1.jpg')

include struct/bottom.pug