include struct/header.pug

.img_set_book
	img(src='img/art1.png')
.text
	p
		|Один из видов печатной продукции: непериодическое издание, состоящее из сброшюрованных или отдельных бумажных листов или тетрадей, на которых нанесена типографским или рукописным способом текстовая и графическая информация, имеющее, как правило, твёрдый переплёт.Также книгой может называться литературное или научное произведение, предназначенное для печати в виде отдельного сброшюрованного издания. С развитием информационных технологий всё более широкое распространение получают электронные книги — электронные версии печатных книг, которые можно читать на компьютерах или специальных устройствах. В 2013 году электронные книги занимали 30 % книжного рынка в количественном выражении и 14 % — в стоимостном. КНИ́ГА, фор­ма хра­не­ния, пе­ре­да­чи и вос­про­из­вод­ст­ва ин­фор­ма­ции по­сред­ст­вом фик­са­ции тек­сто­во­го и ил­лю­ст­ра­тив­но­го ма­те­риа­ла на разл. ма­те­ри­аль­ных но­си­те­лях (в совр. эпо­ху – и в элек­трон­ном ви­де). Су­щест­ву­ет два осн. ис­то­ри­че­ски сло­жив­ших­ся ти­па кни­ги – сви­ток и ко­декс. В от­ли­чие от др. спо­со­бов закре­п­ле­ния ин­фор­ма­ции (над­пи­си на ар­хит. па­мят­ни­ках, письм. до­ку­мен­ты и т. п.), К. пред­став­ля­ет со­бой ав­то­ном­ную и це­ло­ст­ную струк­ту­ру, оп­ре­де­лён­ным об­ра­зом оформ­лен­ную (оформ­ле­ние К., пре­ж­де все­го книж­ная ил­лю­ст­ра­ция, не­ред­ко име­ет ху­дож. зна­че­ние, пре­вра­щая её в объ­ект ис­кус­ст­ва).
include struct/bottom.pug